<div class="main-container d-flex">
  <div class="side-bar">
    <mat-toolbar class="side-toolbar">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>mail</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="main-bar">
    <div class="nav-main">
      <nav class="navbar bg-body-tertiary d-flex justify-content-between">
        <div class="application-name">
          <a class="navbar-brand" href="#">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFqno-o15uF8Ewt3FiPFhfHFZXspX9y9teNZt-xvdNrfxVUGvoSoZgj0bnlcAtKWlPb88&usqp=CAU"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
            Application
          </a>
        </div>
        <div class="search-bar d-flex align-items-center">
          <button mat-icon-button class="example-icon">
            <mat-icon>search</mat-icon>
          </button>
          <input
            class="search-input"
            type="text"
            name=""
            id=""
            placeholder="Search"
          />
          <button mat-icon-button class="example-icon">
            <mat-icon>tune</mat-icon>
          </button>
        </div>
        <div class="user-info d-flex align-items-center">
          <button mat-icon-button class="example-icon">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button class="example-icon">
            <mat-icon>apps</mat-icon>
          </button>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFqno-o15uF8Ewt3FiPFhfHFZXspX9y9teNZt-xvdNrfxVUGvoSoZgj0bnlcAtKWlPb88&usqp=CAU"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
        </div>
      </nav>
    </div>
    <div class="content-div">
      <div class="content">This is new</div>
    </div>
  </div>
</div>
