.main-container{
    margin: 2rem;
    .left-form{
      margin: 1rem;
    }
    .right-form{
      margin: 1rem
    }

    .example-form {        
        width: 100%;
      }
      
      .full-width, .date {
        width: 100%;
      }
      
     
}