<form action="" method="post">
  <div class="main-container d-flex">
    <div class="left-form">
      <div class="example-form">
        <div class="job-title-div mb-2">
          <label for="job-title" class="form-label">Job Title</label>
          <input
            type="text"
            class="form-control"
            id="job-title"
            name="job-title"
            placeholder="Google"
          />
        </div>

        <mat-form-field class="full-width company-div" appearance="outline">
          <mat-label>Company </mat-label>
          <input matInput placeholder="Google" />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Job Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <div class="full-width d-flex justify-content-between form-group">
          <mat-form-field class="for-margin" appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Ghana" />
          </mat-form-field>

          <mat-form-field class="for-margin" appearance="outline">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Engineering" />
          </mat-form-field>
        </div>

        <div class="full-width d-flex justify-content-between form-group">
          <mat-form-field appearance="outline" class="for-margin">
            <mat-label>Job Type:</mat-label>
            <mat-select>
              @for (job of jobType; track job) {
              <mat-option [value]="job.value">{{ job.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="for-margin">
            <mat-label>Contract Type:</mat-label>
            <mat-select>
              @for (contract of contractType; track contract) {
              <mat-option [value]="contract.value">{{
                contract.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="full-width d-flex justify-content-between form-group">
          <mat-form-field appearance="outline" class="for-margin">
            <mat-label>Job Level:</mat-label>
            <mat-select>
              @for (job of jobLevel; track job) {
              <mat-option [value]="job.value">{{ job.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="for-margin">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" />
              <input matEndDate placeholder="End date" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="right-form form-group">
      <div class="job-description">
        <div class="full-width form-control requirements" appearance="outline">
          <label>Job Requirements</label>
          <ckeditor [editor]="Editor"></ckeditor>
        </div>
        <div class="full-width form-control" appearance="outline">
          <label>Job Responsibilities</label>
          <ckeditor [editor]="Editor"></ckeditor>
        </div>
      </div>
      <div class="contact-infomation">
        <div class="contact-info d-flex justify-content-end">
          <mat-form-field class="for-margin" appearance="outline">
            <mat-label>Contact Email:</mat-label>
            <input type="email" matInput placeholder="example@xyz.com" />
          </mat-form-field>

          <mat-form-field class="for-margin contact" appearance="outline">
            <mat-label>Contact Phone:</mat-label>
            <input matInput type="tel" placeholder="0123456789" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
